@page
@inject CatalogContext Catalog
@{
    Layout = "_Layout";
}

@{
    var movies = Catalog.Movies.OrderByDescending(m => m.Details.ReleaseDate).Select(m => new { m.Id, m.Title, m.Details.PosterUrl }).ToList();
}

<wrap-panel>
    @foreach (var movie in movies)
    {
        <wrap-panel-item class="movie">
            <a asp-page="Movies/Details" asp-route-id="@movie.Id"><img class="movie-poster" src="@Url.Content(movie.PosterUrl)" /></a>
            <h1 class="movie-title">@movie.Title</h1>
        </wrap-panel-item>
    }
</wrap-panel>